body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* body::after {
  position: absolute;

  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;
  z-index: -1;
} */
body.bg-loaded::after {
  opacity: 0;
  transition: 1.5s opacity ease;
}

#background-image {
  display: none;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Parallax stuff */
#parallax {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.layer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transition: transform 0.1s ease;
}
#layer1 video {
  object-fit: cover;
  height: 104%;
  width: 104%;
  filter: blur(4px);
}

#layer3 {
  filter: blur(1px);
}
#layer4 {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fog {
  animation: fog-animation 30s linear infinite;
  background-repeat: repeat-x;
  background-size: 200% 100%;
}

.container {
  position: relative;
  width: 50%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.3); */
  border-radius: 10px;

  pointer-events: none; /* will be changed by js after intro animation */
}
.container:hover {
  background-color: rgba(255, 255, 255, 0);
}
.title-image {
  max-width: 80%;
  mix-blend-mode: luminosity;
  transition: 0.5s ease;
  opacity: 0.5;
  transform: scale(1);
}
.container:hover .title-image {
  mix-blend-mode: normal;
  opacity: 1;
  transform: scale(1.02);
}
.title-image img {
  width: 100%;
  height: auto;
  opacity: 0;
  transform: scale(1.5);
  animation: intro-animation 6s 1s ease-in-out forwards;
}
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  font-size: 2rem;
  position: absolute;
  opacity: 1;
  transition: 0.5s ease;
}
.container:hover .description-container {
  opacity: 0;
}
.link-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  filter: blur(1px);
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 1rem 2rem;
  transform: translateY(-100px);
  transition: 0.5s ease;
  animation: link-intro-animation 6s 2s ease-in-out forwards;
}
.container:hover .link-container {
  opacity: 1;
  filter: blur(0);
  background: rgba(0, 0, 0, 0.1);
  /* transform: translateY(0); */
}
.link-container a {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: block;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  transition: 0.2s ease;
}
.link-container a:hover {
  transform: scale(1.1);
}
.fa-tidal {
  height: 3rem;
  filter: invert(1);
}
.fa-tidal img {
  height: 100%;
  width: auto;
}
@keyframes intro-animation {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0); /* Starts larger and centered */
  }
  20% {
    opacity: 1;
    transform: scale(1.5) translateY(0); /* Stays larger and centered */
  }
  50%,
  100% {
    opacity: 1;
    transform: scale(1.2) translateY(-20%); /* Ends at normal size and moved upwards */
  }
}
@keyframes link-intro-animation {
  0% {
    opacity: 0;
    transform: translateY(50%); /* Starts larger and centered */
  }
  20% {
    opacity: 0;
    transform: translateY(50%); /* Stays larger and centered */
  }
  50%,
  100% {
    opacity: 0.8;
    transform: scale(1) translateY(-60%); /* Ends at normal size and moved upwards */
  }
}

@keyframes fog-animation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media only screen and (max-width: 920px) {
  .container {
    width: 80%; /* Adjust this to fit the screen better */
    /* height: auto; If you want to adjust the height as well */
  }
}
@media only screen and (max-width: 768px) {
  #layer1 {
    background-position: left top;
  }
  #layer2 {
    background-position: left center;
  }

  #layer3 {
    background-position: right center;
    display: none;
  }

  #layer4 {
    /* flex-direction: column;
    justify-content: flex-start; */
  }

  .container {
    width: 80%; /* Adjust this to fit the screen better */
    /* height: auto; If you want to adjust the height as well */
  }

  .title-image {
    max-width: 100%; /* Adjust this to fit the screen better */
    opacity: 1;
    transform: scale(1);
  }

  .description-container {
    width: 80%; /* Adjust this to fit the screen better */
    font-size: 1.5rem; /* Adjust this to fit the screen better */
  }

  .link-container {
    width: 100%; /* Adjust this to fit the screen better */
    padding: 2rem 1rem; /* Adjust this to fit the screen better */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: blur(0);
  }

  @keyframes intro-animation {
    0% {
      opacity: 0;
      transform: scale(1) translateY(60%); /* Starts larger and centered */
    }
    20% {
      opacity: 1;
      transform: scale(1) translateY(60%); /* Stays larger and centered */
    }
    50%,
    100% {
      opacity: 1;
      transform: scale(1) translateY(-30%); /* Ends at normal size and moved upwards */
    }
  }
  @keyframes link-intro-animation {
    0% {
      opacity: 0;
      transform: translateY(50%); /* Starts larger and centered */
    }
    20% {
      opacity: 0;
      transform: translateY(50%); /* Stays larger and centered */
    }
    50%,
    100% {
      opacity: 0.8;
      transform: scale(1) translateY(0%); /* Ends at normal size and moved upwards */
    }
  }
}
