@font-face {
  font-family: "Blanka";
  src: url("../fonts/Blanka-Regular.otf") format("truetype");
  /* Add additional src lines for different formats if needed */
}
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Blanka", sans-serif;
}
/* body::after {
  position: absolute;

  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;
  z-index: -1;
} */
body.bg-loaded::after {
  opacity: 0;
  transition: 1.5s opacity ease;
}

#background-image {
  display: none;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Parallax stuff */
#parallax {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.layer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transition: transform 0.1s ease;
}
#layer1 video {
  position: absolute;
  width: 104%;
  height: 104%;
  object-fit: cover;
  filter: blur(4px);

  transition: opacity 1s;
}

#video1 {
  opacity: 1;
  z-index: 2;
}

#video2 {
  opacity: 0;
  z-index: 1;
}

#layer3 {
  filter: blur(1px);
}
#layer4 {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#fog {
  animation: fog-animation 30s linear infinite;
  background-repeat: repeat-x;
  background-size: 200% 100%;
}

/* Add move-out animations */
@keyframes move-out-left {
  100% {
    transform: translate(-2000px, 0px) scale(1.04); /* Adjust move distance based on your needs */
  }
}

@keyframes move-out-right {
  100% {
    transform: translate(2000px, 0px) scale(1.04); /* Adjust move distance based on your needs */
  }
}

.to-left {
  animation: move-out-left 2s forwards;
}

.to-right {
  animation: move-out-right 2s forwards;
}
#change-button {
  position: absolute;
  margin-top: -20rem;
  transform: translateY(-150%);
  z-index: 100;
}
.container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  pointer-events: none; /* will be changed by js after intro animation */
}
.container:hover {
  background-color: rgba(255, 255, 255, 0);
}
#container2,
#container3 {
  display: none;
}
#container3 {
  font-family: "Agdasima", sans-serif;
  padding: 1rem;
  overflow-x: scroll;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}

#container3 .about-text {
  padding: 1rem;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}
.review {
  margin: 2rem 1rem;
  /* padding: 1rem; */
}
.review .link {
  color: #1a1aaa;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 0.2rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50.25%; /* This is the aspect ratio for HD videos. */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  transition: all 1s;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  /* Adjust as necessary for your breakpoint. */
  .video-container {
    width: 80%;
    margin: 0 auto; /* Centers the container. */
  }
}
.title-image {
  max-width: 60%;
  mix-blend-mode: luminosity;
  transition: 0.5s ease;
  opacity: 0.5;
  transform: scale(1);
  text-align: center;
  opacity: 0;
  transform: scale(1.5);
  animation: intro-animation 4s ease-in-out forwards;
  margin: 2rem auto 3rem;
}
.title {
  font-size: 6rem;
  color: #f6c972;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  filter: blur(1px);
  line-height: 0.9;
  transition: 0.5s ease;
}
.title:hover {
  filter: blur(0px);
}
.title1 {
  font-size: 6.3rem;
}
.title2 {
  font-size: 8rem;
  margin-bottom: 1rem;
}
.container:hover .title-image {
  mix-blend-mode: normal;
  opacity: 1;
  transform: scale(1.02);
}
.title-image img {
  width: 100%;
  height: auto;
  opacity: 0;
  transform: scale(1.5);
  animation: intro-animation 4s ease-in-out forwards;
}
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  font-size: 2rem;
  position: absolute;
  opacity: 1;
  transition: 0.5s ease;
}
.container:hover .description-container {
  opacity: 0;
}
.link-container {
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  filter: blur(1px);
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 1rem 2rem;
  transition: 0.5s ease;
  animation: link-intro-animation 4s ease-in-out forwards;
}
.container:hover .link-container {
  opacity: 1;
  filter: blur(0);
  background: rgba(0, 0, 0, 0.1);
  /* transform: translateY(0); */
}
.link-container a {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  transition: 0.2s ease;
}
.link-container a span {
  font-family: "Agdasima", sans-serif;
  font-size: 1rem;
}
.link-container a:hover {
  transform: scale(1.1);
}
.fa-tidal {
  height: 3rem;
  filter: invert(1);
}
.fa-tidal img {
  height: 100%;
  width: auto;
}

button {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #1a1a1a;
  font-family: "Agdasima", sans-serif;
  font-size: 1.2rem;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); */
  transition: 0.2s ease;
  opacity: 0;
  animation: fade-in 2s 2s forwards;
  letter-spacing: 2px;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 14px rgba(255, 255, 255, 0.4);
}
#reverse-button {
  margin-top: 1rem;
}

@keyframes intro-animation {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0); /* Starts larger and centered */
  }
  20% {
    opacity: 1;
    transform: scale(1.5) translateY(0); /* Stays larger and centered */
  }
  50%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(0%); /* Ends at normal size and moved upwards */
  }
}
@keyframes link-intro-animation {
  0% {
    opacity: 0;
    transform: translateY(50%); /* Starts larger and centered */
  }
  20% {
    opacity: 0;
    transform: translateY(50%); /* Stays larger and centered */
  }
  50%,
  100% {
    opacity: 0.8;
    transform: scale(1) translateY(-60%); /* Ends at normal size and moved upwards */
  }
}

@keyframes fog-animation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
@keyframes cross-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-background {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes fade-out-background {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes move-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  } /* move down by the height of the viewport */
}

@keyframes move-in {
  0% {
    transform: translateY(-100vh);
  } /* move down from the top of the viewport */
  100% {
    transform: translateY(0);
  }
}
@keyframes move-out-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  } /* move up by the height of the viewport */
}

@keyframes move-in-up {
  0% {
    transform: translateY(100vh);
  } /* move up from the top of the viewport */
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1100px) {
  .title1 {
    font-size: 4.8rem;
  }
  .title2 {
    font-size: 6.3rem;
  }
}
@media only screen and (max-width: 768px) {
  #layer1 {
    background-position: left top;
  }
  #layer2 {
    background-position: left center;
  }

  #layer3 {
    background-position: right center;
    display: none;
  }

  #layer4 {
    flex-direction: column;
  }
  .title {
    filter: blur(0);
  }
  .title1 {
    font-size: 3.6rem;
  }
  .title2 {
    font-size: 5rem;
  }

  .title-image {
    max-width: 100%; /* Adjust this to fit the screen better */
    opacity: 1;
    transform: scale(1);
  }

  .description-container {
    width: 80%; /* Adjust this to fit the screen better */
    font-size: 1.5rem; /* Adjust this to fit the screen better */
  }

  .link-container {
    width: 100%; /* Adjust this to fit the screen better */
    max-width: 300px;
    padding: 2rem 1rem; /* Adjust this to fit the screen better */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: blur(0);
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .link-container a {
    width: 48%;
  }

  button {
    font-size: 1rem;
  }
  @keyframes intro-animation {
    0% {
      opacity: 0;
      transform: scale(1.07) translateY(0%); /* Starts larger and centered */
    }
    20% {
      opacity: 1;
      transform: scale(1.07) translateY(0%); /* Stays larger and centered */
    }
    50%,
    100% {
      opacity: 1;
      transform: scale(1) translateY(0%); /* Ends at normal size and moved upwards */
    }
  }
  @keyframes link-intro-animation {
    0% {
      opacity: 0;
      transform: translateY(50%); /* Starts larger and centered */
    }
    20% {
      opacity: 0;
      transform: translateY(50%); /* Stays larger and centered */
    }
    50%,
    100% {
      opacity: 0.8;
      transform: scale(1) translateY(0%); /* Ends at normal size and moved upwards */
    }
  }
}

@media only screen and (max-width: 460px) {
  .title1 {
    font-size: 3rem;
  }
  .title2 {
    font-size: 3.8rem;
  }
}
